<% layout('/layouts/boilerplate') -%>

<div class="container">
  <div class="row mt-4">
    <% for(user of users) {%>
      <div class="col-md-4">
        <div class="card text-white bg-dark mb-3" style="max-width: 540px;">
          <div class="row g-0 align-items-center">
            <div class="col-md-4">
              <img src="/imgs/cool-cat.jpg" class="img-fluid rounded-circle ps-2" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= user.username %></h5>
                <p class="card-text">E-mail: <%= user.email %></p>
                <form class="d-inline" action="/users/<%= user._id%>/admin?_method=PUT" method="POST">
                  <button class="btn btn-primary">Make an Admin</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } %> 
  </div>
</div>

